<div class="flex justify-center md:<%= locals.justify %> items-center flex-wrap p-12 gap-16 w-[100vw] sm:w-[95vw] lg:w-[80%]">
    <div class="relative w-[100vw] sm:w-[70vw] lg:w-[35vw] h-auto p-8 flex justify-center flex-col items-start bg-neutral-900 bg-opacity-20 rounded-[10px] shadow">
        <div class="flex md:justify-around gap-2 w-[75vw] md:w-[15vw]">
            <img src="/images/<%= locals.authorProfileImage %>" alt="<%= locals.authorName %>" class="flex justify-center items-center bg-white rounded-full h-20 sm:h-24 w-20 sm:w-24">
            
            <div class="flex flex-col justify-center items-start">
                <span class="text-white text-xl text-left md:text-[38px] font-bold font-mono">
                    <%= locals.authorName %>
                </span>
        
                <span class="text-white/70 text-lg font-bold font-mono">
                    <%= locals.authorJob %>
                </span>
            </div>
        </div>

        <img src="/images/comma.png" alt="Comma" class=" hidden sm:block absolute -top-10 -right-10 sm:-top-12 sm:-right-12 h-20 sm:h-24">

        <div class="text-white text-lg mt-6 text-center">
            <%= locals.comment %>
        </div>
    </div>
</div>