<code id="codelines" class="">
    <ol start="0" class="p-5 break-words list-inside list-decimal text-[10px] sm:text-[12px] md:text-[14px] lg:text-[16px] xl:text-[18px]" id="codelist">
        
    </ol>
</code>
<script>

    let python = document.getElementById("python");
    let java = document.getElementById("java");
    let csharp = document.getElementById("csharp");

    document.addEventListener("DOMContentLoaded", function () {
        SetLanguageCode(`<%= locals.pythoncontent %>`);
        python.style.backgroundColor = "rgba(71, 67, 76, 0.6)";
    });

    python.addEventListener("click", function () {
        SetLanguageCode(`<%= locals.pythoncontent %>`);
        ResetButtonColors();
        python.style.backgroundColor = "rgba(71, 67, 76, 0.6)";
    });

    java.addEventListener("click", function () {
        SetLanguageCode(`<%= locals.javacontent %>`);
        ResetButtonColors();
        java.style.backgroundColor = "rgba(71, 67, 76, 0.6)";
    });

    csharp.addEventListener("click", function () {
        SetLanguageCode(`<%= locals.csharpcontent %>`);
        let asd = `<%= locals.csharpcontent %>`
        console.table(asd.replace(/\s/g, '_'));
        ResetButtonColors();
        csharp.style.backgroundColor = "rgba(71, 67, 76, 0.6)";
    });

    function SetLanguageCode(content) {

        let list = document.getElementById("codelist");
        list.innerHTML = '';
        let lines = content.replaceAll("\r","&nbsp;").split('\n');
        for (let i = 0; i < lines.length; i++) {
            list.innerHTML += `<li class="relative px-5 py-2 text-sky-500"><span class="text-white">${lines[i].replaceAll(/\s/g,"&nbsp;")}</span></li>`;
        }
    }

    function ResetButtonColors() {
        python.style.backgroundColor = "";
        java.style.backgroundColor = "";
        csharp.style.backgroundColor = "";
    }
</script>