<main class="flex flex-col justify-center items-center h-[60svh] md:h-[80svh] relative">
  <%- include('../../components/SearchBarTag.ejs') %>

  <img
    src="/images/<%= locals.imageName %>"
    alt="Oldal szinbólum"
    class="w-[86px] mt-24 h-[86px]"
  />

  <div class="animate-once animate-fade-down animate-delay-[1000ms] mt-12 text-3xl sm:text-3xl md:text-4xl lg:text-6xl 2xl:text-8xl text-white font-bold font-mono text-center">
    <%= locals.title %>
  </div>

  <div class="animate-once animate-fade-up animate-delay-[1100ms] w-[240px] lg:w-[670px] h-[91px] text-center mt-3 leading-7">
    <div class="text-white text-opacity-50 text-xl md:text-[32px] font-bold font-mono">
      <%= locals.desc %>
    </div>
  </div>

  <% if (locals.sideBar === true) { %> <%-
    include('../../components/AskHelp.ejs') %> 
  <% } %>
</main>
