<main class="flex flex-col justify-center items-center h-[80svh] relative">
  <% if ( locals.hasSearchBar === true ) { %>
    <%- include('../components/SearchBarTag.ejs') %>
  <% } %>
  
  <img src="/images/<%= locals.imageName %>" alt="Oldal szinbólum" class="mt-48 w-[86px] h-[86px]" />

  <div
    class="animate-once animate-fade-down animate-delay-[200ms] mt-12 text-3xl sm:text-3xl md:text-4xl lg:text-6xl 2xl:text-8xl text-white font-bold font-mono text-center">
    <%= locals.title %>
  </div>

  <div class="animate-once animate-fade-up animate-delay-[300ms] w-[240px] lg:w-[670px] h-[90px] text-center mt-3 leading-7">
    <div class="text-white text-opacity-50 text-xl md:text-[32px] font-bold font-mono">
      <%= locals.desc %>
    </div>
  </div>

  <% if (locals.arrow === true) { %>
    <img src="/images/scroll_down.svg" alt="Görgess tovább" class="absolute -bottom-32 lg:-bottom-24 w-20 h-20 mt-12 animate-bounce" />
  <% } %>

  <% if (locals.sideBar === true) { %>
    <%- include('./AskHelp.ejs') %>
  <% } %>
</main>