<!DOCTYPE html>
<html lang="hu" class="scroll-smooth">
<%- include('../views/components/Head.ejs') %>

  <body class="bg-slate-900 relative min-h-screen overflow-x-hidden bg-[url('/images/bg.png')] bg-top">
    <%- include('../views/components/Loader.ejs', {
      loading: true,
      time: 200
    }) %>

    <%- include('../views/components/NavBar.ejs') %>

    <%- include('../views/components/SiteHeroPage.ejs', { 
      title: "Rólunk" ,
      desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit." , 
      arrow: false, 
      sideBar: true,
      imageName: "about_icon.png" 
    }) %>

    <div class="flex md:pt-48 p-5 justify-center items-center mt-8 flex-wrap xl:flex-nowrap gap-28 xl:gap-8">
      <%- include('../views/components/KiralyMarkSocial.ejs', { 
        title: "Király Márk", 
        LevelTitleBadge: false,
        IconImgBadge: true, 
        SocialBadge: true, 
        imageName: "km_logo.png",
        style: "md:-translate-y-8"
      }) %>
      
      <%- include('../views/components/VaradiMarcellSocial.ejs' , { 
        title: "Váradi Marcell", 
        LevelTitleBadge: false,
        IconImgBadge: true, 
        SocialBadge: true, 
        imageName: "md_logo-black.png"
      }) %>

      <%- include('../views/components/VodenicsarRajmundSocial.ejs' , { 
        title: "Vodenicsár Rajmund", 
        LevelTitleBadge: false,
        IconImgBadge: true, 
        SocialBadge: true, 
        imageName: "VP_logo.png",
        style: "md:-translate-y-8"
      }) %>
    </div>

    <%- include('../views/templates/About/Feedback.ejs') %>

    <%- include('../views/components/Footer.ejs') %>
  </body>

</html>