<!DOCTYPE html>
<html lang="hu" class="scroll-smooth">
  <%- include('../views/components/Head.ejs') %>

  <body class="bg-slate-900 overflow-x-hidden bg-[url('/images/bg.png')] bg-top">
    <%- include('../views/components/Loader.ejs', {
      loading: true,
      time: 1000
    }) %>

    <%- include('../views/components/NavBar.ejs') %>

    <%- include('../views/templates/Algorithms/AlgorithmsHeroSection.ejs', {
      title: "Algoritmusok Listája",
      desc: "Feltöltés alatt...",
      imageName: "icon_1024_1024_transparent.png",
      sideBar: true
    }) %>

    <%- include('../views/templates/Algorithms/AlgorithmsLevels.ejs') %>

    <article class="flex justify-center items-center flex-col gap-8 mt-32">
      <div id="section--kezdo-cim" class="flex justify-start w-[90%]">
        <h1 class="text-white text-[50px] font-bold text-left">Kezdő Szint</h1>
      </div>
      <div id="section--kezdo" class="flex justify-start items-center flex-wrap p-12 gap-16 w-[80%]">
        <% if (locals.data.length === 0) { %>
          <%- include('../views/components/Card.ejs', {
            LevelTitleBadge: true,
            content: "404",
            title: "Nem sikerült betölteni",
            textColor: "text-neutral-900",
            link: null
          }) %>
        <% } %>

        <% if (locals.data.length !== 0) { %>
          <% locals.data.forEach(element => { %>
            <a href="/algoritmusok/<%= element.url %>" class="">
              <%- include('../views/components/Card.ejs', {
                LevelTitleBadge: true,
                content: element.level,
                title: element.name,
                textColor: "text-neutral-900",
                link: null
              }) %>
            </a>
          <% }) %>
        <% } %>
      </div>

     <div id="section--kozep-cim" class="flex justify-start w-[90%]">
        <h1 class="text-white text-[50px] font-bold text-left">Közép Szint</h1>
      </div>
      <div id="section--kozep" class="flex justify-start items-center flex-wrap p-12 gap-16 w-[80%]">
        <% if (locals.data.length === 0) { %>
          <%- include('../views/components/Card.ejs', {
            LevelTitleBadge: true,
            content: "404",
            title: "Nem sikerült betölteni",
            textColor: "text-neutral-900",
            link: null
          }) %>
        <% } %>

        <% if (locals.data.length !== 0) { %>
          <% locals.data.forEach(element => { %>
            <% if (element.level === "Ir.") { %>
              <a href="/algoritmusok/<%= element.url %>" class="">
                <%- include('../views/components/Card.ejs', {
                  LevelTitleBadge: true,
                  content: element.level,
                  title: element.name,
                  textColor: "text-neutral-900",
                  link: null
                }) %>
              </a>
            <% } %>
          <% }) %>
        <% } %>
      </div>

      <div id="section--halado-cim" class="flex justify-start w-[90%]">
        <h1 class="text-white text-[50px] font-bold text-left">Haladó Szint</h1>
      </div>
      <div id="section--halado" class="flex justify-start items-center flex-wrap p-12 gap-16 w-[80%]">
        <% if (locals.data.length === 0) { %>
          <%- include('../views/components/Card.ejs', {
            LevelTitleBadge: true,
            content: "404",
            title: "Nem sikerült betölteni",
            textColor: "text-neutral-900",
            link: null
          }) %>
        <% } %>

        <% if (locals.data.length !== 0) { %>
          <% locals.data.forEach(element => { %>
            <% if (element.level === "Sr.") { %>
              <a href="/algoritmusok/<%= element.url %>" class="">
                <%- include('../views/components/Card.ejs', {
                  LevelTitleBadge: true,
                  content: element.level,
                  title: element.name,
                  textColor: "text-neutral-900",
                  link: null
                }) %>
              </a>
            <% } %>
          <% }) %>
        <% } %>
      </div>
    </article>

    <script>
      const animationElement = (element, trigger) => {
        const observer = new IntersectionObserver((entries, observer) => {
          entries.forEach(entry => {
            if (entry.isIntersecting) {
              element.classList.add("animate-once") 
              element.classList.add("animate-fade-up") 
            }
          })
        }, {
          root: null,
          rootMargin: '0px',
          threshold: 0.5,
          
        })

        observer.observe(trigger)
      }

      let sectionkezdoTitle = document.querySelector("#section--kezdo-cim")
      let sectionkozepTitle = document.querySelector("#section--kozep-cim")
      let sectionhaladoTitle = document.querySelector("#section--halado-cim")

      let sectionkezdo = document.querySelector("#section--kezdo")
      let sectionkozep = document.querySelector("#section--kozep")
      let sectionhalado = document.querySelector("#section--halado")

      animationElement(sectionkezdo, sectionkezdoTitle)
      animationElement(sectionkozep, sectionkozepTitle)
      animationElement(sectionhalado, sectionhaladoTitle)
    </script>

    <%- include('../views/components/Footer.ejs') %>
  </body>
</html>
