<!DOCTYPE html>
<html lang="hu" class="scroll-smooth">
<%- include('../views/components/Head.ejs') %>

  <body class="bg-slate-900 overflow-x-hidden bg-[url('/images/bg.png')] bg-top">
    <%- include('../views/components/Loader.ejs', {
      loading: true,
      time: 200
    }) %>
    
    <%- include('../views/components/NavBar.ejs') %>

    <%- include('../views/templates/Algorithm/AlgorithmHead.ejs', {
      data: locals.data
    }) %>

    <%- include('../views/templates/Algorithm/AlgorithmBlock.ejs', {
      videoUrl: locals.data.visual,
      pythonCode: locals.data.py,
      javaCode: locals.data.java,
      cSharpCode: locals.data.cs
    }) %>
    
  </body>

</html>