<!DOCTYPE html>
<html lang="hu" class="scroll-smooth">
  <%- include('../views/components/Head.ejs') %>

  <body class="bg-slate-900 overflow-x-hidden bg-[url('/images/bg.png')] bg-top">
    <%- include('../views/components/Loader.ejs', {
      loading: true,
      time: 1000
    }) %>

    <%- include('../views/components/NavBar.ejs') %>

    <%- include('../views/templates/Algorithms/AlgorithmsHeroSection.ejs', {
      title: "Algoritmusok Listája",
      desc: "Leírás az algoritmusokról ha kell majd ki tudja lol",
      imageName: "icon_1024_1024_transparent.png",
      sideBar: true
    }) %>

    <%- include('../views/templates/Algorithms/AlgorithmsLevels.ejs') %>

    <article class="flex justify-center items-center flex-col gap-8 mt-32">
      <div id="section--junior-title" class="flex justify-start w-[90%]">
        <h1 class="text-white text-[50px] font-bold text-left">Kezdő Szint</h1>
      </div>
      <div id="section--junior" class="flex justify-start items-center flex-wrap p-12 gap-16 w-[80%]">
        <% if (locals.data.length === 0) { %>
          <%- include('../views/components/Card.ejs', {
            LevelTitleBadge: true,
            content: "404",
            title: "Nem sikerült betölteni",
            textColor: "text-neutral-900"
          }) %>
        <% } %>

        <% if (locals.data.length !== 0) { %>
          <% locals.data.forEach(element => { %>
            <% if (element.level === "Jr.") { %>
              <a href="/algoritmusok/<%= element.url %>" class="">
                <%- include('../views/components/Card.ejs', {
                  LevelTitleBadge: true,
                  content: element.level,
                  title: element.name,
                  textColor: "text-neutral-900"
                }) %>
              </a>
            <% } %>
          <% }) %>
        <% } %>
      </div>

      <div id="section--interior-title" class="flex justify-start w-[90%]">
        <h1 class="text-white text-[50px] font-bold text-left">Közép Szint</h1>
      </div>
      <div id="section--interior" class="flex justify-start items-center flex-wrap p-12 gap-16 w-[80%]">
        <% if (locals.data.length === 0) { %>
          <%- include('../views/components/Card.ejs', {
            LevelTitleBadge: true,
            content: "404",
            title: "Nem sikerült betölteni",
            textColor: "text-neutral-900"
          }) %>
        <% } %>

        <% if (locals.data.length !== 0) { %>
          <% locals.data.forEach(element => { %>
            <% if (element.level === "Ir.") { %>
              <a href="/algoritmusok/<%= element.url %>" class="">
                <%- include('../views/components/Card.ejs', {
                  LevelTitleBadge: true,
                  content: element.level,
                  title: element.name,
                  textColor: "text-neutral-900"
                }) %>
              </a>
            <% } %>
          <% }) %>
        <% } %>
      </div>

      <div id="section--senior-title" class="flex justify-start w-[90%]">
        <h1 class="text-white text-[50px] font-bold text-left">Haladó Szint</h1>
      </div>
      <div id="section--senior" class="flex justify-start items-center flex-wrap p-12 gap-16 w-[80%]">
        <% if (locals.data.length === 0) { %>
          <%- include('../views/components/Card.ejs', {
            LevelTitleBadge: true,
            content: "404",
            title: "Nem sikerült betölteni",
            textColor: "text-neutral-900"
          }) %>
        <% } %>

        <% if (locals.data.length !== 0) { %>
          <% locals.data.forEach(element => { %>
            <% if (element.level === "Sr.") { %>
              <a href="/algoritmusok/<%= element.url %>" class="">
                <%- include('../views/components/Card.ejs', {
                  LevelTitleBadge: true,
                  content: element.level,
                  title: element.name,
                  textColor: "text-neutral-900"
                }) %>
              </a>
            <% } %>
          <% }) %>
        <% } %>
      </div>
    </article>

    <script>
      const animationElement = (element, trigger) => {
        const observer = new IntersectionObserver((entries, observer) => {
          entries.forEach(entry => {
            if (entry.isIntersecting) {
              element.classList.add("animate-once") 
              element.classList.add("animate-fade-up") 
            }
          })
        }, {
          root: null,
          rootMargin: '0px',
          threshold: 0.5,
          
        })

        observer.observe(trigger)
      }

      let sectionJuniorTitle = document.querySelector("#section--junior-title")
      let sectionInteriorTitle = document.querySelector("#section--interior-title")
      let sectionSeniorTitle = document.querySelector("#section--senior-title")

      let sectionJunior = document.querySelector("#section--junior")
      let sectionInterior = document.querySelector("#section--interior")
      let sectionSenior = document.querySelector("#section--senior")

      animationElement(sectionJunior, sectionJuniorTitle)
      animationElement(sectionInterior, sectionInteriorTitle)
      animationElement(sectionSenior, sectionSeniorTitle)
    </script>

    <%- include('../views/components/Footer.ejs') %>
  </body>
</html>
