<!DOCTYPE html>
<html lang="hu">
<%- include('../views/components/Head.ejs') %>

  <body class="bg-slate-900 overflow-x-hidden bg-[url('/images/bg.png')] bg-top">
    <%- include('../views/components/NavBar.ejs') %>

    <%- include('../views/templates/Algorithm/AlgorithmHead.ejs', {
      data: locals.data
    }) %>

    <%- include('../views/templates/Algorithm/AlgorithmBlock.ejs') %>
    
    <%- include('../views/components/Footer.ejs') %>
  </body>

</html>