<!DOCTYPE html>
<html lang="hu">
  <%- include('../views/components/Head.ejs') %>

  <body class="bg-slate-900 relative min-h-screen overflow-x-hidden">
    <%- include('../views/components/BlurFull.ejs') %>

    <!---->
    <%- include('../views/components/AskHelp.ejs') %>

    <!---->
    <%- include('../views/components/NavBar.ejs') %>

    <!---->
    <%- include('../views/templates/Home/HeroSection.ejs') %>

    <!---->
    <%- include('../views/templates/Home/Information.ejs') %> <%-
    include('../views/components/Footer.ejs') %>
  </body>
</html>
