<!DOCTYPE html>
<html lang="hu" class="scroll-smooth">
  <%- include('../views/components/Head.ejs') %>
  <body class="bg-slate-900 overflow-x-hidden bg-[url('/images/bg.png')] bg-top">
    <%- include('../views/components/Loader.ejs', {
      loading: true,
      time: 200
    }) %>
    
    <%- include('../views/components/NavBar.ejs') %>

    <% if ( locals.resp.length === 0 ) { %>
      <%- include('../views/components/SiteHeroPage.ejs', { 
          title: "Keresés" ,
          desc: `Keresési találatok "${locals.searchedKeys.rawSearched || 'Sikertelen keresés, kérlek próbáld újra'}"-ra` , 
          arrow: false, 
          sideBar: true, 
          hasSearchBar: true,
          imageName: "search_light_gray.svg" 
      }) 
    %>

    <%- include('../views/templates/Search/NoSearchResult.ejs') %>
    <% } %>

    <% if ( locals.resp.length !== 0 ) { %>
        <%- include('../views/components/SiteHeroPage.ejs', { 
            title: "Keresés" ,
            desc: `Keresési találatok "${locals.searchedKeys.rawSearched || 'Sikertelen keresés, kérlek próbáld újra'}"-ra` , 
            arrow: true, 
            sideBar: true, 
            hasSearchBar: true,
            imageName: "search_light_gray.svg" 
          }) 
        %>

        <article class="flex justify-center items-center flex-col gap-8 md:gap-0 mt-32">
          <div class="flex justify-start items-center flex-wrap p-4 md:p-12 gap-16 w-[80%]">
    
            <% locals.resp.forEach(element => { %>
              <% if (element.level === "Jr.") { %>
                <% if (element.active === 0) { %>
                  <a href="/feltoltes-alatt" class="">
                    <%- include('../views/templates/Search/SearchResult.ejs', {
                      LevelTitleBadge: true,
                      content: element.level,
                      title: element.name,
                      desc: element.description,
                      active: false,
                      textColor: "text-neutral-900"
                    }) %>
                  </a>
                <% } %>

                <% if (element.active === 1) { %>
                  <a href="/algoritmusok/<%= element.url %>" class="">
                    <%- include('../views/templates/Search/SearchResult.ejs', {
                      LevelTitleBadge: true,
                      content: element.level,
                      title: element.name,
                      desc: element.description,
                      active: true,
                      textColor: "text-neutral-900"
                    }) %>
                  </a>
                <% } %>
              <% } %>
            <% }) %>
          </div>
    
          <div class="flex justify-start items-center flex-wrap p-4 md:p-12 gap-16 w-[80%]">
    
            <% locals.resp.forEach(element => { %>
              <% if (element.level === "Ir.") { %>
                <% if (element.active === 0) { %>
                  <a href="/feltoltes-alatt" class="">
                    <%- include('../views/templates/Search/SearchResult.ejs', {
                      LevelTitleBadge: true,
                      content: element.level,
                      title: element.name,
                      desc: element.description,
                      active: false,
                      textColor: "text-neutral-900"
                    }) %>
                  </a>
                <% } %>

                <% if (element.active === 1) { %>
                  <a href="/algoritmusok/<%= element.url %>" class="">
                    <%- include('../views/templates/Search/SearchResult.ejs', {
                      LevelTitleBadge: true,
                      content: element.level,
                      title: element.name,
                      desc: element.description,
                      active: true,
                      textColor: "text-neutral-900"
                    }) %>
                  </a>
                <% } %>
              <% } %>
            <% }) %>
          </div>
    
          <div class="flex justify-start items-center flex-wrap p-4 md:p-12 gap-16 w-[80%]">
            <% locals.resp.forEach(element => { %>
              <% if (element.level === "Sr.") { %>
                <% if (element.active === 0) { %>
                  <a href="/feltoltes-alatt" class="">
                    <%- include('../views/templates/Search/SearchResult.ejs', {
                      LevelTitleBadge: true,
                      content: element.level,
                      title: element.name,
                      desc: element.description,
                      active: false,
                      textColor: "text-neutral-900"
                    }) %>
                  </a>
                <% } %>

                <% if (element.active === 1) { %>
                  <a href="/algoritmusok/<%= element.url %>" class="">
                    <%- include('../views/templates/Search/SearchResult.ejs', {
                      LevelTitleBadge: true,
                      content: element.level,
                      title: element.name,
                      desc: element.description,
                      active: true,
                      textColor: "text-neutral-900"
                    }) %>
                  </a>
                <% } %>
              <% } %>
            <% }) %>
          </div>
        </article>
    <% } %>

    <script>
      const animationElementSearchedTags = (element) => {
          const observer = new IntersectionObserver((entries, observer) => {
              entries.forEach(entry => {
              if (entry.isIntersecting) {
                  element.classList.add("animate-once") 
                  element.classList.add("animate-fade-up") 
              }
          })
          }, {
              root: null,
              rootMargin: '0px',
              threshold: 0.1,
          })
  
          observer.observe(element)
      }
  
      document.querySelectorAll(".search-result-for-animation").forEach(item => {
          animationElementSearchedTags(item)
      })
  </script>

    <%- include('../views/components/Footer.ejs') %>
  </body>
</html>
